
.app-header{
    padding-left: 240px;
    .header-right-content{
        .header-link{
            padding: 1rem 0.65rem;

            .header-link-icon{
                width: 15px;
                height: 15px;
                font-size: 1.25rem;
                color: #536485;
            }
        }
    }
}
