
.app-header{
    padding-left: 240px;
    .header-right-content{
        .header-link{
            padding: 1rem 0.65rem;

            .header-link-icon{
                width: auto;
                height: auto;
                font-size: 1.3rem;
                margin-right: 10px;
                color: #536485;
            }
            .header-link-icon:hover{
                color: #922c88;
            }
        }
    }
}

