.main-content{
    margin-left: 240px;
    margin-top: 57px;
    height: calc(100vh - 50vh);
    .main-content__container{
        padding: 0 15px;
    }
}

body{
    background: rgb(240,241, 247) !important;
}